# DATABASE
DB_HOST=host
DB_PORT=port
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database_name

# EMAIL
EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_USER=email_address
EMAIL_PASS=password
EMAIL_FROM=name_or_email_to_display_as_sender

# CORS CONFIGURATION
CORS_ORIGIN=comma,separated,origins
API_KEYS=comma,separated,keys

# AUTHENTICATION
JWT_SECRET=access_token_secret
JWT_RESET_SECRET=reset_password_token_secret
JWT_EXPIRATION_RESET_PASSWORD=expiration_time_for_reset_token
JWT_EXPIRATION_TIME=expiration_time_for_access_token
JWT_EXPIRATION_WEEK=expiration_time_for_refresh_token

##AZURE STORAGE
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string
AZURE_STORAGE_CONTAINER=your_container_name

## CIELO SANDBOX
CIELO_ENV=sandbox
CIELO_MERCHANT_ID=merchant_id
CIELO_MERCHANT_KEY=merchant_key